.partnership_current {
	background-color: rgb(236, 236, 236);
	padding-top: 70px;
	padding-bottom: 70px;
}
.partner_curr_header {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}
.partner_curr_header p {
	max-width: 450px;
}
.partner_curr_header p:nth-of-type(1) {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
}
.partner_curr_header h3 {
	font-size: 34px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
	max-width: 500px;
	margin: 20px 0px 12px 0px;
	margin-bottom: 20px;
}
.partner_curr_header p:nth-of-type(2) {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
}
.partners_title {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 10px;
}
.partners_title h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	letter-spacing: 0.05em;
}

.partners_table {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
}
.partners_involved {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: 300px 300px 300px 1fr;
	justify-content: center;
	/* align-items: center; */
	gap: 40px;
}
.partners_inner img {
	width: 100%;
	height: 350px;
	object-fit: cover;
}

.partners_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border: 1px solid black;
	text-align: center;
}
.partners_inn_a {
	padding: 5px;
}

.partners_inn_a h3 {
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
	font-weight: 600;
}
.partners_inn_a p {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
}

/* partners profile */
.our_partners_heading {
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 70px;
	text-align: center;
}

/* .Table {
	overflow: auto !important;
	display: block !important;
	table-layout: auto !important;
} */

.our_partners_heading h3 {
	font-size: 34px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
	color: rgb(32, 32, 32);
}
.our_partners_heading p {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
	color: rgb(94, 94, 94);
}
.profile_details h3 {
	font-size: 28px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
	font-weight: 600;
}
.profile_details p:nth-of-type(1) {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.05em;
	font-weight: 600;
}
.profile_details p:nth-of-type(2),
.profile_details p:nth-of-type(3),
.profile_details p:nth-of-type(4) {
	font-size: 17px;
	font-family: 'Nunito Sans', sans-serif;
	letter-spacing: 0.05em;
}

.partners_profile {
	/* background-color: rgb(245, 245, 245); */
	padding: 40px 0px;
}

.partner_profile_wrapper_left {
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;

	display: grid;
	grid-template-columns: 65% 35%;
	justify-content: center;
	gap: 40px;

	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
}
.partner_profile_wrapper_right {
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px;
	display: grid;
	grid-template-columns: 35% 65%;
	justify-content: center;
	gap: 40px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
}

/* utilities */
.partner_btn {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 20px;
}
@media screen and (max-width: 800px) {
	.partner_curr_header p:nth-of-type(1) {
		font-size: 18px;
	}
	.partner_curr_header h3 {
		font-size: 24px;
	}
	.partner_curr_header p:nth-of-type(2) {
		font-size: 14px;
	}
	.partners_title h3 {
		font-size: 20px;
	}
	.partners_involved {
		grid-template-columns: 1fr;
	}
	.partners_inn_a h3 {
		font-size: 15px;
	}

	.partners_inn_a p {
		font-size: 12px;
	}

	/* partners profile */

	.our_partners_heading h3 {
		font-size: 24px;
	}
	.our_partners_heading p {
		font-size: 14px;
	}

	.profile_details h3 {
		font-size: 20px;
	}

	.profile_details p:nth-of-type(1) {
		font-size: 12px;
	}

	.profile_details p:nth-of-type(2),
	.profile_details p:nth-of-type(3),
	.profile_details p:nth-of-type(4) {
		font-size: 14px;
	}
	.partner_profile_wrapper_left {
		grid-template-columns: 1fr;
		gap: 40px;
	}
	.partner_profile_wrapper_right {
		grid-template-columns: 1fr;
		gap: 40px;
	}
}
